<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" role="navigation">

    <div class="navbar-brand navbar-brand-container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
           class="navbar-brand"
           alt="Angular">
      <a href="https://github.com/gaetanBloch/todo-angular-front" class="navbar-brand">
        TODO List
      </a>
    </div>

    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [class.collapse]="collapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="authService.isAuthenticated()">
          <a routerLink="/welcome" class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="authService.isAuthenticated()">
          <a routerLink="/todos" class="nav-link">Todos</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" *ngIf="!authService.isAuthenticated()">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a style="cursor: pointer" class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

