button:disabled:hover {
  cursor: default;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}

.btn-primary, .btn-primary.disabled {
  background-color: #2f27a0;
  border-color: #2f27a0;
}

.btn.disabled {
  opacity: .35;
}

