<div class="text-center spinner" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading ">
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control"
             type="text"
             id="username"
             name="username"
             required
             ngModel
             #usernameModel="ngModel">
      <span class="help-block" *ngIf="usernameModel.invalid && usernameModel.touched">
              The username is required!
            </span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control"
             type="password"
             id="password"
             name="password"
             required
             ngModel
             #passwordModel="ngModel">
      <span class="help-block" *ngIf="passwordModel.invalid && passwordModel.touched">
              The password is required!
            </span>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        <fa-icon [icon]="faSignInAlt"></fa-icon>
        Login
      </button>
    </div>
  </form>
</div>

