<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
      <h1>
        <fa-icon [icon]="faDoorOpen"></fa-icon>
        Welcome
      </h1>
      <div class="welcome-message">
        Welcome to the application, <strong>{{ username }}</strong>.
      </div>
      <br>
      <button class="btn btn-primary btn-lg" routerLink="/todos">
        <fa-icon [icon]="faList"></fa-icon>
        Manage your Todo List
      </button>
    </div>
  </div>
</div>
