<div class="container text-center">
  <h1>Welcome!</h1>
  Welcome to the application {{ username }}
  <br>
  You can manage your TODO's <a routerLink="/todos">here</a>
  <hr>
  <div class="welcome-container">
    Click here to get a customized welcome message from the server: <br>
    <button (click)="getWelcomeMessageWithParam()" class="btn btn-primary">
      Get Welcome Message
    </button>
    <div class="alert alert-info" *ngIf="welcomeMessage">
      <p>{{ welcomeMessage }}</p>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
