<div class="alert alert-success" *ngIf="message">{{ message }}</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Description</th>
    <th>Target Date</th>
    <th>Is Completed ?</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let todo of todos">
    <td>{{ todo.description }}</td>
    <td>{{ todo.targetDate | date }}</td>
    <td>{{ todo.done }}</td>
    <td>
      <button class="btn btn-success" (click)="onUpdate(todo.id)">
        <fa-icon [icon]="faEdit"></fa-icon>
        Update
      </button>
    </td>
    <td>
      <button class="btn btn-danger" (click)="onDelete(todo.id)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
